@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
	margin:0;
	padding:0;
	font-family: 'Josefin Sans', sans-serif;	
}


body{	
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	min-height:100vh;
	background-image:url('../Imagini/cereajutorblur.jpg');
 	background-repeat: repeat-y;
 	background-size: cover;
	
}

header nav{
	position:relative;
	width:100%;
	height:80px;
	background-color: #0007;
	line-height:80px;
}

header nav ul{
	float:right;
	margin-right:20px;
} 

header nav ul li{
	list-style-type:none;
	display:inline-block;
	transition: 0.75s all;
}

header nav ul li:hover{
	background-color: #fda500;
}

 header nav ul li a{
	text-decoration:none;
	color: #fff;
	padding:20px;
	font-size:20px;
	font-weight:bold; 
}

header nav ul li a:hover{
	font-style:italic; 
}
.container{
	background-color:rgba(0,0,0,0.3);
	display:flex;
	flex-wrap:wrap;
	text-align:center;
	justify-content:center;
	align-items:center;
	max-width:1200px;
	margin:40px 0;	
}

.container .card{
	display:inline-block;	
	position:relative;
	min-width:320px;
	height:520px;
	box-shadow:inset 5px 5px 5px rgba(0,0,0,0.2),
	inset -5px -5px 15px rgba(255,255,255,0.1),
	5px 5px 15px rgba(0,0,0,0.3),
    -5px -5px 15px rgba(255,255,255,0.1);
    border-radius:15px;
    margin:30px;
    background: #232427;
}

.container .card::before{
content: '';
position:absolute;
top:0;
left:0;
width:50%;
height:100%;
background: rgba(255,255,255,0.1);	
}


.container .card .box{
	position:absolute;
	top:20px;
	left:20px;
	right:20px;
	bottom:20px;
	background: #2a2b2f;
	border: 2px solid #1e1f23;
	border-radius:15px;
	box-shadow:0 20px 50px rgba(0,0,0,0.5);
	transition:0.5s;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
}

.container .card .box::before{
content: '';
position:absolute;
top:0;
left:0;
width:50%;
height:100%;
background: rgba(255,255,255,0.5);
pointer-events:none; 	
}
	
.container .card .box:hover{
	transform:translateY(-40px);
	box-shadow:0 40px 70px rgba(0,0,0,0.5);
}

.container .card .box .content{
	padding:20px;
	text-align:center;
	
}

input[type="text"],
input[type="text"]:focus   
{
         background: transparent;
         border: none;
         outline-width: 0;
}


	
.container .card .box .content .inputID{

    border: none;
	top:7px;
	position:absolute;
	left:210px;
	font-size:64px;
	color: rgba(255,255,255,0.3);
}
	
.container .card .box .content .inputNume{
	text-align:center;
    border: none;
	position:relative;
	font-size:30px;
	color: rgba(255,255,255,1.2);
	z-index:1;
	
}
		 	
.container .card .box .content .inputInfo{
	
	text-align:center;
    border: none;
	position:relative;
	font-size:19px;
	color: rgba(255,255,255,0.8);
	z-index:1;
}
.container .card .box .content a{
	position:relative;
	display:inline-block;
	padding: 8px 20px;
	backgorund: #000;
	margin-top:15px;
	border-radius:20px;
	text-decoration:none;
	font-weight:400;
	color: #fff;
	top:20px;	
}


.container .card .box .content .btnsave {
	background: #2196f3;	
}

.container .card .box .content .btnsave:hover {
	background: #0b71c4;	
}
.container .card .box .content .btndelete {
	background: #e91e63;	
		bottom:42px;
	left:60px;	
}

.container .card .box .content .btndelete:hover {
	background: #c81353;	
}

button .btnsave:hover{
	color:#fff;
}

.userlink{
	
margin-left:316px;
display:flex;
border-radius:10px;
text-decoration:none;
font-size:73px;
color: #FFFFFF;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, -6px -8px 17px rgba(49,206,20,0.69), 0px -1px 10px rgba(49,206,20,0.69), 0px -1px 10px rgba(49,206,20,0.69);

}

.userlink:hover{
	text-decoration:none;
	font-style:italic;
	color: #05aada;
}